### Lists

A list is a collection of items which can be of any type. Characteristics:
- **Ordered**: A list is ordered and you can change the order.
- **Mutable**: You can modify (change,add,remove) elements in the list after it's created.
- **Various Data Types**: A list can contain a mix of data types.
- **Dynamic Size**: It can grow or shrink depending on content.
- **Supports Indexing**: Items can be accessed using an index.

### Creating Lists

In [7]:
programming_languages = ["Python", "SQL"]
print(programming_languages)

['Python', 'SQL']

In [8]:
print (type(programming_languages))

<class 'list'>

In [5]:
my_marks = [76,23]
print(my_marks)

[76, 23]

In [1]:
combined = ["Python", 76, "SQL", 23]
print(combined)

['Python', 76, 'SQL', 23]

### Selecting from a List

In [3]:
#display second item
print(combined[1])

#display last item
print(combined[-1])

76
23

In [4]:
my_list = [1,2,["Python", "SQL"], 3]

#print SQL
print (my_list[2][-1])

SQL

In [16]:
# check if first element is red, if it is change it to orange, print modified list
colors = ['red', 'green', 'blue']
 
if colors [0] == 'red':
        colors[0] = 'orange'
print (colors)

['orange', 'green', 'blue']

In [17]:
# compare first element with last eleemnt, if it's bigger print First is larger, else if it's greater
# Last is Larger, otherwise Equal
numbers = [4, 8, 2]

if numbers[0] > numbers[-1]:
        print ('First is Larger')
elif numbers [0] < numbers [-1]:
        print('Last is Larger')
else:
        print('Equal')

First is Larger

### Size of a List

In [18]:
my_list = []
print (len(my_list))

my_list = [1,2, ["Python", "SQL"], 3]
print (len(my_list))

0
4

### Adding Items to a List

In [21]:
my_list = []
print ('Empty List: ', my_list)

#add item
my_list.append("Python")
print ("After adding item: ", my_list)

#add two more items
my_list.append("JAVA")
my_list.append("SQL")
print ("After adding more items: ", my_list)

#adding a list to a list
my_list.append([10,20,30])
print ("After adding a list: ",my_list)

Empty List:  []
After adding item:  ['Python']
After adding more items:  ['Python', 'JAVA', 'SQL']
After adding a list:  ['Python', 'JAVA', 'SQL', [10, 20, 30]]

In [22]:
# add Javascript after Python
my_list.insert (1, 'JavaScript')
print(my_list)

['Python', 'JavaScript', 'JAVA', 'SQL', [10, 20, 30]]

### Removing Items from a List

In [26]:
my_list = ['SQL', 'Python', 'JAVA']

#remove 3rd item using index
my_list.pop(2)
print(my_list)

my_list = ['SQL', 'Python', 'JAVA']
#remove the item Python
my_list.remove('Python')
print(my_list)

['SQL', 'Python']
['SQL', 'JAVA']

### Slicing a List

We can use:
- `[:index]` Get items from beginning upto specified index
- `[:-index]` Get items from beginning upto specified index from the end
- `[index:]` Get items from the index until the end
- `[index1:index2]` Get items from specified index1 upto index2

In [28]:
my_list = ['Python', 'JAVA', 'R', 'SQL']
 
# get from first to second element
print(my_list[:2])
 
# get from first element to element before the last
print(my_list[:-1])
 
# get from 3rd element until the end
print(my_list[2:])
 
# get from second to third element
print(my_list[1:3])

['Python', 'JAVA']
['Python', 'JAVA', 'R']
['R', 'SQL']
['JAVA', 'R']

In [34]:
shopping_list = ["apples", "bread", "milk"]
 
# add eggs to the end of list
shopping_list.append("eggs")

# add bananas to the beginning
shopping_list.insert(0,'bananas')
 
# add oranges and tomatoes at once
shopping_list.extend(['oranges','tomatoes'])
 
# remove bread
shopping_list.remove('bread')
 
# print the size of the list
print('Size of List:', len(shopping_list))
 
# print the first 3 items
print ('First 3 items: ', shopping_list[:3])

print (shopping_list)

Size of List: 6
First 3 items:  ['bananas', 'apples', 'milk']
['bananas', 'apples', 'milk', 'eggs', 'oranges', 'tomatoes']

### List Iteration

In [36]:
my_list = ['Python', 'SQL', 'Java']

for item in my_list:
    print(f'{item} is {len(item)} characters long.')

Python is 6 characters long.
SQL is 3 characters long.
Java is 4 characters long.

In [39]:
my_list = ['Python','SQL','Java']
my_marks = [90,10,60]

for index, item in enumerate(my_list):
    print(f'{item} result is {my_marks[index]}')

Python result is 90
SQL result is 10
Java result is 60

### List Comprehension

Creates a new list from other iterables 

new_list = [expression(element) for element in list condition]

In [41]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# this will simply copy the list since it does not have any expression 
# or condition
new_list = [x for x in my_list]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
# create a new list with the squared values
new_list = [x*x for x in my_list]
print (new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
#modify previous code so that only number >5 are processed
new_list = [x*x for x in my_list if x>5]
print (new_list)

[36, 49, 64, 81, 100]

In [45]:
#create a new list with the cubed values for even numbers only
new_list = [x**3 for x in my_list if x%2==0]
print(new_list)

[8, 64, 216, 512, 1000]

### Sorting

Lists can be sorted using `sort` and the list order will change. If you want a backup of the list you can copy it using `copy` or `list_copy=list[:]`.

In [1]:
my_list = ['Python', 'JAVA', 'R']
my_list.sort()
print(my_list)

['JAVA', 'Python', 'R']

In [2]:
my_list = ['Python', 'JAVA', 'R', 90]
my_list.sort()
# this will not work due to mixed data types

TypeError: '<' not supported between instances of 'int' and 'str'

In [3]:
my_list = ['Python', 'JAVA', 'R', 90]
my_list.sort(key=str)
print(my_list)

[90, 'JAVA', 'Python', 'R']

In [47]:
# Sales Data recorded over two days
sales_monday = [15, 25, 18, 30, 12]
sales_tuesday = [20, 22, 17, 25, 10]
 
# apply a discount to sales_monday if the sale is more than 20 deduct 5
processed_monday = [sale-5 if sale>20 else sale for sale in sales_monday]

# combine the two days into all_sales
all_sales = sales_monday.copy()
all_sales.extend(sales_tuesday)

# remove sales that are 10
all_sales.remove(10)
 
# add another sale (27)
all_sales.append(27)
 
# sort the sales in ascending order
all_sales.sort()
 
# display the 3 highest sales
print(all_sales [-3:])

[25, 27, 30]